DOCS_ORIGIN=http://localhost:3002
DOCS_SOURCE_URL=https://github.com/alvik48/boilerplate/blob/main
DOCS_API_BACKEND_TEMPLATE_URL=http://localhost:3000
# Set to an immutable source commit for release builds.
DOCS_REVISION=local
